# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store

# Project specific
logs/
ssl/
static/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local
